<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>ProductionMonitoringAPS</display-name>

	<filter>
		<filter-name>encoding_filter</filter-name>
		<filter-class>com.mdrain.filters.EncodingFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>encoding_filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>




	<filter>
		<filter-name>access_filter</filter-name>
		<filter-class>com.mdrain.filters.AccessFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>access_filter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	
	
		<filter>
		<filter-name>clear_seesion_filter</filter-name>
		<filter-class>com.mdrain.filters.ClearSessionFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>clear_seesion_filter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>

  
   	<servlet>
		<servlet-name>printers_production_servlet</servlet-name>
		<servlet-class>com.mdrain.servlets.printers_production.PrintersProductionServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>printers_production_servlet</servlet-name>
		<url-pattern>/printers_production_servlet_skills_matrix</url-pattern>
		<url-pattern>/printers_production_servlet_absence_report</url-pattern>
		<url-pattern>/printers_production_servlet_display_reported_production_time_servlet</url-pattern>
		<url-pattern>/printers_production_servlet_orders_information_servlet</url-pattern>
		<url-pattern>/printers_production_servlet_operators_data_servlet</url-pattern>
		<url-pattern>/printers_production_servlet_get_hole_operators_info_servlet</url-pattern>
		<url-pattern>/printers_production_servlet_get_production_plan_servlet</url-pattern>
		<url-pattern>/printers_production_servlet_test_card_display_info_servlet</url-pattern>
		<url-pattern>/printers_production_servlet_production_capacity_servlet</url-pattern>
		<url-pattern>/printers_production_servlet_input_production_card</url-pattern>
		<url-pattern>/printers_production_servlet_presents_blank</url-pattern>
		<url-pattern>/printers_production_servlet_include_absence</url-pattern>
		<url-pattern>/printers_production_servlet_display_operators_info</url-pattern>
		<url-pattern>/printers_production_servlet_display_material_without_type</url-pattern>
		<url-pattern>/printers_production_servlet_update_material_without_type</url-pattern>
		<url-pattern>/printers_production_servlet_planed_labor_cost</url-pattern>
		<url-pattern>/printers_production_servlet_wardrob_info</url-pattern>
		<url-pattern>/printers_production_servlet_generate_serial_number</url-pattern>
		<url-pattern>/printers_production_servlet_send_mail</url-pattern>
	</servlet-mapping>
   

	<servlet>
		<servlet-name>tph_data_servlet</servlet-name>
		<servlet-class>com.mdrain.servlets.tph.InputDataTphServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>tph_data_servlet</servlet-name>
		<url-pattern>/tph_data_servlet</url-pattern>
		<url-pattern>/tph_data_be_servlet</url-pattern>
		<url-pattern>/tph_data_pulse_trimmer_servlet</url-pattern>
		<url-pattern>/tph_data_final_test_servlet</url-pattern>	
	</servlet-mapping>


	<servlet>
		<servlet-name>admin_servlet</servlet-name>
		<servlet-class>com.mdrain.servlets.admin.AdminServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>admin_servlet</servlet-name>
		<url-pattern>/admin_servlet_registration</url-pattern>
		<url-pattern>/admin_servlet_login</url-pattern>
		<url-pattern>/admin_servlet_logout</url-pattern>
		<url-pattern>/admin_servlet_generate_lists</url-pattern>
		<url-pattern>/admin_servlet_upload_data_into_coois_operation</url-pattern>
		<url-pattern>/admin_servlet_upload_data_into_coois_prod</url-pattern>
		<url-pattern>/admin_servlet_upload_files_for_production_capacity</url-pattern>
		<url-pattern>/admin_servlet_create_join_table_result</url-pattern>
		<url-pattern>/admin_servlet_current_operators_data</url-pattern>
	</servlet-mapping>

	
	<servlet>
		<servlet-name>create_dma_protokol_display_servlet</servlet-name>
		<servlet-class>com.mdrain.servlets.finance.CreateDmaProtokolServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>create_dma_protokol_display_servlet</servlet-name>
		<url-pattern>/create_dma_protokol_display_servlet</url-pattern>
		<url-pattern>/create_dma_protokol_display_explicit_servlet</url-pattern>
		<url-pattern>/create_dma_protokol_update_explicit_servlet</url-pattern>
		<url-pattern>/create_dma_protokol_update_final_explicit_servlet</url-pattern>
		<url-pattern>/create_dma_protokol_download_explicit_servlet</url-pattern>
		<url-pattern>/create_dma_protokol_servlet</url-pattern>
	</servlet-mapping>


	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>